---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const books = await getCollection('books');

  return books.map((book) => ({
    params: { id: book.id.replace(/\.md$/, "") },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data } = book;
const { title, author, img, readtime, description, buy } = data;

//renderizar el contenido del md
const { Content } = await render(book);
---

<Layout title={`${title} - Dev Books`}>

    <div class="grid">
        <aside>
            <img class="portada" src={`/${img}`} alt={title} />
        </aside>

        <main>
            <h1 class="titulo">{title}</h1>
            <div class="info">

                <Content />
            </div>
        </main>

    </div>


</Layout>

<style>
    .grid{
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 30px;
    }

    .portada{
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }

    .titulo{
        font-weight: bolder;
		font-size: xx-large;
        margin-bottom: 10px;
    }

    .info{
        display: block;
		justify-content: center;
		justify-items: left;
    }

</style>