---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const books = await getCollection('books');
---

<Layout title="Dev Books, libros para programadores gay">
	<main>
		<h1>Dev: 
			<span>Books</span></h1>

		<section aria-label="Libros recomendados para programadores gay">
			<div class="px-4 mx-auto max-w-screen-xl">
				<div class="grid gap-6 md:grid-cols-2">
					{
						books.map(book => {
							const { slug, data } = book;

							const { title, author, img, readtime, description, buy } = data;

							return(
								<article>
									<img src={`/${img}`} alt={title} class="w-full-rounded-lg" />
									<h3>{title}</h3>
								</article>
							)
						})
					}
				</div>
			</div>

		</section>
	</main>
</Layout>

<style>
	h1{
		text-align: center;
		font-size: 50px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: bolder;
	}

	span{
		display: block;
	}
</style>