---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const res = await fetch(SCORE_API_ENDPOINT);
const scoreValue = await res.text();

---

<span class="score" id="score">
    ⭐ Puntuación: {scoreValue.trim()}/5
</span>

<style>
    .score{
        font-size: small;
        text-align: center;
        display: block;
        width: 100%;
        padding-top: 20px;
    }
</style>